<app-header-layout [headerItems]="headerItems">
  <div class="mx-5 my-5 h-[19rem] py-2 pl-3 bg-neutral-300 rounded-sm shadow-sm overflow-y-auto">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex">
        <div>
          <div class="title">Vardas</div>
          <input
            type="text"
            formControlName="firstName"
            class="input"
            placeholder="Įveskite vardą"
          />
          <div
            *ngIf="form.controls['firstName'].errors && (form.controls['firstName'].dirty || form.controls['firstName'].touched)"
            class="mt-1"
          >
            <div *ngIf="form.controls['firstName'].errors['required']" class="error">
              Vardas yra privalomas.
            </div>
            <div *ngIf="form.controls['firstName'].errors['minlength']" class="error">
              Vardas turi būti ne trumpesnis nei 3 simboliai.
            </div>
            <div *ngIf="form.controls['firstName'].errors['maxlength']" class="error">
              Vardas turi būti ne ilgesnis nei 15 simbolių.
            </div>
          </div>
        </div>
        <div class="ml-9">
          <div class="title">Pavardė</div>
          <input
            type="text"
            formControlName="lastName"
            class="input"
            placeholder="Įveskite pavardę"
          />
          <div
            *ngIf="form.controls['lastName'].errors && (form.controls['lastName'].dirty || form.controls['lastName'].touched)"
            class="mt-1"
          >
            <div *ngIf="form.controls['lastName'].errors['required']" class="error">
              Pavardė yra privaloma.
            </div>
            <div *ngIf="form.controls['lastName'].errors['minlength']" class="error">
              Pavardė turi būti ne trumpesnis nei 3 simboliai.
            </div>
            <div *ngIf="form.controls['lastName'].errors['maxlength']" class="error">
              Pavardė turi būti ne ilgesnis nei 15 simbolių.
            </div>
          </div>
        </div>
      </div>
      <div class="flex mt-2">
        <div>
          <div class="title">Gimimo Metai</div>
          <input
            type="number"
            formControlName="birthYear"
            class="input"
            placeholder="Įveskite tik metus"
          />
          <div
            *ngIf="form.controls['birthYear'].errors && (form.controls['birthYear'].dirty || form.controls['birthYear'].touched)"
            class="mt-1"
          >
            <div *ngIf="form.controls['birthYear'].errors['required']" class="error">
              Gimimo metai yra privalomi.
            </div>
            <div *ngIf="form.controls['birthYear'].errors['pattern']" class="error">
              Gimimo metia turi būti iš 4 skaitmenų.
            </div>
            <div *ngIf="form.controls['birthYear'].errors['invalidBirthYear']" class="error">
              Gimimo metai turi būti ne didesni nei {{ currentYear - 5 }}.
            </div>
          </div>
        </div>
        <div class="ml-9">
          <div class="title mb-1">Lytis</div>
          <div *ngFor="let option of genderOptions" class="leading-[0.5rem]">
            <input
              type="radio"
              formControlName="gender"
              [value]="getGenderKey(option)"
              [id]="getGenderKey(option)"
            />
            <label class="radio-option" [for]="getGenderKey(option)"
              >{{ getGenderValue(option) }}</label
            >
          </div>
        </div>
      </div>
      <div class="flex mt-2">
        <div>
          <div class="title">El. Paštas</div>
          <input
            type="email"
            formControlName="email"
            class="input"
            placeholder="Įveskite el. paštą"
          />
          <div
            *ngIf="form.controls['email'].errors && (form.controls['email'].dirty || form.controls['email'].touched)"
            class="mt-1"
          >
            <div *ngIf="form.controls['email'].errors['required']" class="error">
              El. paštas yra privalomas.
            </div>
            <div *ngIf="form.controls['email'].errors['email']" class="error">
              Neteisingas el. pašto formatas.
            </div>
          </div>
        </div>
        <div class="ml-9">
          <div class="title">Telefonas</div>
          <input type="tel" formControlName="phone" class="input" placeholder="+37012345678" />
          <div
            *ngIf="form.controls['phone'].errors && (form.controls['phone'].dirty || form.controls['phone'].touched)"
            class="mt-1"
          >
            <div *ngIf="form.controls['phone'].errors['required']" class="error">
              Telefonas yra privalomas.
            </div>
            <div *ngIf="form.controls['phone'].errors['invalidPhoneNumber']" class="error">
              Telefono formatas privalo būti +37012345678.
            </div>
          </div>
        </div>
      </div>
      <div class="mt-2">
        <div class="title">Klasė</div>
        <select
          #gradeSelect
          formControlName="grade"
          class="input default-selection w-32"
          (change)="onGradeChange($event)"
        >
          <option value="" disabled selected>Pasirinkite klasę</option>
          <option *ngFor="let grade of grades" [value]="grade">{{ grade }}</option>
        </select>
      </div>
      <div class="flex">
        <button class="submit-button" type="submit" [disabled]="form.invalid">Sukurti</button>
        <div class="ml-4 mt-[1.6rem]">
          <app-info-message *ngIf="infoMessage" [infoMessages]="infoMessages" [type]="infoMessage" />
        </div>
      </div>
    </form>
  </div>
</app-header-layout>
